<div class="cart"
<h2> Your Cart </h2>

<table>
   <% @products_in_cart.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price) %></td>
  </tr>
  <% end %>
    <td><h3>Total:</h3></td>
    <td><h3><%= number_to_currency(@total_price) %></h3> </td>
</table>
</div>
